h1 {text-align:center;
  color:black;}
#PLL {
  position: relative;
  left: 200px;
}
#OLL {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdXEcWRfsII00nvkDGUNSU02wtHQtYTKHMbg&usqp=CAU.png');
}
.container {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 20px;
  position: relative;
  background-color: ghostwhite;
  padding: 1px;
}
.ca {
  margin: 0 auto;
  max-width: 940px;
  padding: 0px;
  position: relative;
  background-color:hsl( 240, 100%, 50% );
  padding: 0px;
  letter-spacing:500px

}
.Gan {
  text-align:center;
  color:black;
  position:relative;
}
.button {
  background-color: hsl( 240, 100%, 50% );
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  justify-content: space-around;
}
.button:hover {
  background-color: hsl(80, 61%, 50%);
}

  }
}
#F2L {
  position: relative;
  left: 200px;
}
@media only screen and (max-width: 1024px){
  iframe {
    width: 60%;
  }
}

@media only screen and (max-width: 768px){
  iframe {
    width:414px; height:250px;
  }

  @media only screen and (max-width: 1024px){
    IMG {
      width: 60%;
    }
  }

  @media only screen and (max-width: 768px){
    IMG {
     width:414px; height:250px;
    }
